@charset "UTF-8";
@font-face {
    font-family: idroid;
    src: url(fontes/idroid.otf) format(opentype);
}
header{
    background-image: linear-gradient(180deg, #77d5a2, #35BE72, #2B985B, #237B4A,#1E693F);
    color: white;
    text-align: center;

}

h1#nomesite{
    font-family: 'Arial Narrow', Arial, sans-serif;

}
nav{
    text-align: left;
}
nav:hover{
    background-color: #77d5a2;
    font-weight: bold;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #76cca0;
    padding: 150px;
}

main{
    background-color: white;
    border-radius: 0px 0px 20px 20px;
    padding: 20px;
}

footer{
    background-color: #1E693F;
    color: white;
    font-weight: bold;
    text-align: center;
    margin:25px;
    padding: 10px;
}

h1{
    font-family: idroid, sans-serif;
    color:#1E693F
}

h2{
    font-family: idroid, sans-serif;
    background-image: linear-gradient(90deg, #77d5a2,#afd8c2ae,white 80%);
    color:#1E693F
}